# Who-am-i project
# * deployment
# * service
# * ingress (simple)
# based on:
# * https://github.com/traefik-workshops/traefik-workshop/tree/master/exercise-3
# * https://github.com/traefik-workshops/traefik-workshop/tree/master/exercise-4
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: whoami
  name: whoami
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whoami
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
        - image: traefik/whoami:latest
          imagePullPolicy: IfNotPresent
          name: whoami
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: whoami-svc
spec:
  type: ClusterIP
  selector:
    app: whoami
  ports:
    - port: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: whoami-http
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: 
      http:
        paths:
          - path: /whoami
            pathType: Exact
            backend:
              service:
                name: whoami-svc
                port:
                  number: 80